<!doctype html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <link href="{{ asset('css/bootstrap.min.css') }}" rel="stylesheet">
    <link rel="stylesheet" href="{{ asset('css/styles.css') }}" />
    <title>Admin Panel</title>
</head>
<body>


{% include 'AdminBundle:base:navbar.html.twig' only %}

<div class="container-fluid">
    <div class="row">
        <div class="sidebar col-sm-3 col-md-2">
            <ul class="nav nav-sidebar">
                <li class="{% if action == 'list' %} active {% endif %}"><a href="{{ path('admin_homepage') }}">Lista torneo</a></li>
                <li class="{% if action == 'newTournament' %} active {% endif %}"><a href="{{path('admin_new_Torneo') }}">Crear nuevo torneo</a></li>
                <li class="{% if action == 'pendient' %} active {% endif %}"><a href="{{ path('admin_pending_list') }}">Torneos pendientes de aprovación</a></li>
            </ul>
        </div>
        <div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
            {% block adminBody %}
            {% endblock %}

        </div>
    </div>
</div>
{% block scripts %}
<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
<script src="{{ asset('js/jquery.js') }}"></script>
<!-- Include all compiled plugins (below), or include individual files as needed -->
<script src="{{ asset('js/bootstrap.min.js') }}"></script>
{% endblock %}
</body>
</html>