<nav class="navbar navbar-default navbar-inverse navbar-fixed-top" role="navigation">
    <div class="navbar-header">
        <div class="nav-logo"></div>
    </div>
    <ul class="nav navbar-nav">
        <li><a href="{{ path('jumbotron') }}">Inicio</a></li>
        <li><a href="{{ path('torneos_list') }}">Torneos</a></li>
        {% if is_granted('ROLE_ADMIN') %}
        <li><a href="{{ path('admin_homepage') }}">Admin</a></li>
        {% endif %}
    </ul>
    <ul class="nav navbar-nav navbar-right">
        <li><a data-toggle="dropdown" href="#" >{{ app.security.getToken().getUser().getUsername() }}</a>
            <ul style="margin-left: 5px" class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                <li>
                    <a href="#">Perfil...</a>
                </li>
                <li>
                    <a href="{{ path('logout') }}">Desconectar...</a>
                </li>
            </ul>
        </li>
    </ul>
</nav>