<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Upsssss!!</title>
</head>
<body>
    <h4 style="text-align: center">Error 403: No autorizado</h4>
    <h1 style="text-align: center">Zona reservada para admins</h1>
    <div style="text-align:center;">
        <img  src="{{ asset('images/gandalf.jpg') }}" alt="" width="60%"/>
    </div>
</body>
</html>