@marcoPadding:10px;
@x:#eee;
@status-closed: #F2DEDE;
@status-open: #DFF0D8;
@status-pendent: #FCF8E3;
@bootstrap-anchor:#428bca;

body{
  margin-top: 50px;
}


div.logo {
  background: white url('../images/MGT.png') no-repeat center center;
  height:120px;
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
}

h1.title{
  text-align: center;
  margin-top: 20px;
}

.marco{

  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #CCC;
  box-shadow: 10px 10px 10px #bbb;
  padding-bottom: @marcoPadding;
  padding-top: @marcoPadding;

}

.centrado{
  margin: 0 auto;
  max-width: 25%;
  a{
    text-align: center;
    margin: 0 auto;
  }
}

.doscinco{
  max-width: 50%;
  margin: 0 auto;
}

#contract{
  max-width: 90%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px;
  max-height: 100px;
  overflow: auto;
}

#checkContract{
  margin: 0 auto;
}

#userBox{
  margin-right: 0px;
}

.nav-logo{
  background: white url('../images/MGT-small.png') no-repeat center center;
  height:50px;
  width:200px;
}

.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}

.nav-sidebar {
  margin-right: -21px; /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}

.main {
  padding-right: 40px;
  padding-left: 40px;
}

body {
  padding-bottom: 50px;
}

div.admin_tournament_box{
  margin-top: 50px;
  ul{
    list-style: none;
    padding-left: 0px;
    li{
      background-color: #F5F5F5;
      margin-bottom: 20px;
      padding: 5px 10px;

      span{
        font-size: 15px;
        &.status_closed{
          color: indianred;
        }
        &.status_pending{
          color: orange;
        }
        &.status_open{
          color: limegreen;
        }
      }

      a:first-child{
        font-size: 25px;
        margin-right: 30px;
      }
      a:nth-child(3){
        float: right;
        margin-left: 10px;
      }
      a:nth-child(4){
        float: right;
      }
    }
  }
}

div.admin_pending_box:extend(div.admin_tournament_box all){
  ul{
    li{
      span{
        font-size: 25px;
        margin-right: 30px;
        color: #428bca;
        text-decoration: none;
      }
      a{
        float: right;
        margin-left: 10px;
      }
    }
  }
}


div.tournament_box_active{
  margin-top: 50px;
  ul{
    list-style: none;
    padding-left: 0px;
    li{
      background-color: @status-open;
      font-size: 25px;
      color: @bootstrap-anchor;
      margin-bottom: 20px;
      padding: 5px 10px;
      a:first-child{
        float: right;
      }

      span{
        font-size: 15px;
        font-weight: bold;
        float: right;
        margin-right: 10px;
        padding: 8px;
      }
    }
  }
}

div.tournament_box_pendent:extend(div.tournament_box_active all){
  ul{
    li{
      background-color: @status-pendent;
    }
  }
}

div.tournament_box_finished:extend(div.tournament_box_active all){
  ul{
    li{
      background-color: @status-closed;
    }
  }
}

.info_torneo_name{
  text-align: center;
}

.info_torneo_participantes{
  max-width: 90%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px;
}

.info_torneo_info:extend(.info_torneo_participantes){
  max-height: 250px;
  overflow: auto;
}

.info_torneo_boton{
  margin-top: 30px;
}

.admin_validate_image extend(.info_torneo_participantes){
  border-style: none;
}

.center{
  margin-top: 15px;
  a:first-child{
    margin-left: 15px;
  }
  a:nth-child(2){
    margin-left: 30px;
  }
  a:last-child{
    margin-right: 15px;
    float:right;
  }
}