{% extends "AdminBundle:base:admin.html.twig" %}

{% block adminBody %}
    <div class="row">
        {% if not form.vars.valid %}
        <div class="col-md-12 alert alert-danger" style="margin-top: 20px" >
            {{ form_errors(form.name) }}
            {{ form_errors(form.maxParticipantes) }}
            {{ form_errors(form.tDatetime) }}
            {{ form_errors(form.description) }}
        </div>
        {% endif %}
    </div>
    <div class="row">
        <div class="col-md-7 col-md-offset-2">

            <h3>
                {% if action=='edit' %}
                    Editar Torneo:
                {% else %}
                    Nuevo Torneo:
                {% endif %}
            </h3>
            {{ form_start(form) }}
            <div class="form-group">
                {{ form_label(form.name) }}
                {{ form_widget(form.name) }}
            </div>
            <div class="form-group">
                {{ form_label(form.maxParticipantes) }}
                {{ form_widget(form.maxParticipantes) }}
            </div>
            <div class="form-group">
                {{ form_label(form.tDatetime) }}
                {{ form_widget(form.tDatetime) }}
            </div>
            <div class="form-group">
                {{ form_label(form.description) }}
                {{ form_widget(form.description) }}
            </div>
            <a href="{{ path('admin_homepage') }}" class="btn btn-danger">Cancelar</a>
            {{ form_widget(form.submit) }}
            {{ form_widget(form._token) }}
            {{ form_end(form, {'render_rest': false}) }}
        </div>
    </div>
{% endblock %}

{% block scripts %}
    {{ parent() }}
{% endblock %}