{% extends "AdminBundle:base:admin.html.twig" %}

{% block adminBody %}
    <h3>Listado de torneos:</h3>
    <div class="row">
        <div class="col-md-12 admin_tournament_box">
            {% if entities is not empty %}
            <ul>
            {% for torneo in entities %}

                <li>
                    <a href="#">{{ torneo.name }}</a>
                    <span class="
                    {% if torneo.status==1 %}
                    status_open">Torneo abierto
                    {% elseif torneo.status==2 %}
                    status_pending">Torneo Pendiente de aprobación
                    {% else %}
                    status_closed">Torneo Terminado
                    {% endif %}
                    </span>
                    <a href="{{ path('admin_torneo_delete',{'id':torneo.id}) }}" class="btn btn-danger" data-id="{{ torneo.id }}" data-name="{{ torneo.name }}">Borrar</a>
                    <a href="{{ path('admin_torneo_edit',{'id':torneo.id}) }}" class="btn btn-default">Editar</a>
                </li>

            {% endfor %}
            </ul>
            {% endif %}
        </div>
    </div>

    <div class="modal fade" id="deleteModal">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
                    <h4 class="modal-title">Borrar Torneo</h4>
                </div>
                <div class="modal-body">
                    <p id="modal_text"></p>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                    <a href="#" id="modal_ok" class="btn btn-primary">Save changes</a>
                </div>
            </div><!-- /.modal-content -->
        </div><!-- /.modal-dialog -->
    </div><!-- /.modal -->
{% endblock %}

{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/deleteTournament.js') }}"></script>
{% endblock %}