{% extends "AdminBundle:base:admin.html.twig" %}

{% block adminBody %}
    <h3>Listado de torneos pendientes de aprobación:</h3>
    <div class="row">
        <div class="col-md-12 admin_pending_box">
            {% if entities is not empty %}
                <ul>
                    {% for torneo in entities %}

                        <li>
                            <span>{{ torneo.name }}</span>

                            <a href="{{ path('admin_validate',{'id':torneo.id}) }}" class="btn btn-default">Validar</a>
                        </li>

                    {% endfor %}
                </ul>
            {% endif %}
        </div>
    </div>
{% endblock %}
