{% extends "AdminBundle:base:admin.html.twig" %}

{% block  adminBody%}
    <div class="row">
        <div class="col-md-8 col-md-offset-2">
            <div class="info_torneo_name">
                <h1>Validación {{ torneo.name }}:</h1>
            </div>
            <div>
                <h3>Participantes:</h3>
                <div class="info_torneo_participantes">
                    <ul>
                        {% for participante in torneo.inscritos %}
                            <li>{{ participante.name }}</li>
                        {% endfor %}
                    </ul>
                </div>
            </div>
            <div>
                <h3>Imagen Resultado:</h3>
                <div class="admin_validate_image">
                    <img src="{{ torneo.resultImage }}" alt="" style="max-width: 100%"/>
                </div>
            </div>
            <div>
                <h3>Posiciones:</h3>
                <div class="alert alert-danger" id="emptyError" style="display: none">
                    Existen uno o mas campos sin completar.
                </div>
                <div class="alert alert-danger" id="repeatedError" style="display: none">
                    Existen uno o mas campos con valores repetidos.
                </div>
                <ul>
                    {{ form_start(form) }}
                    {% set i =1 %}
                    {% for field in form.children %}
                        {% if i != form.children|length %}
                        <li><label for="">Posición {{ i }}:</label>
                        {% endif %}
                            {{ form_widget(field) }}</li>
                        {% set i = i + 1 %}

                    {% endfor %}
                {{ form_end(form,{'render-rest': false}) }}
                </ul>
                <div class="center">
                    <a href="{{ path('admin_pending_list') }}" class="btn btn-default">Cancelar</a>
                    <a href="" class="btn btn-danger">Anular Torneo</a>
                    <a href="" class="btn btn-primary" id="validate">Validar</a>
                </div>
            </div>
        </div>
    </div>
{% endblock %}


{% block scripts %}
    {{ parent() }}
    <script src="{{ asset('js/validate.js') }}"></script>
{% endblock %}