{% extends "FrontendBundle:base:loginRegisterBase.html.twig" %}

{% block title %}Inicio de sesión{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-6 col-md col-md-offset-3 marco" id="login">
                <form role="form" action="{{ path('login_check') }}" method="post" >
                    <div class="logo"></div>
                    <div class="form-group">
                        <label for="Usuario">Usuario:</label>
                        <input type="text" class="form-control" id="Usuario" name="_username" placeholder="Usuario">
                    </div>
                    <div class="form-group">
                        <label for="pass">Contraseña:</label>
                        <input type="password" class="form-control" id="pass" name="_password" placeholder="Contraseña">
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="remember"> Recordar Contraseña
                        </label>
                    </div>
                    <div class="centrado">
                        <button type="submit" class="btn btn-default btn-block btn-primary">
                            Iniciar Sesión
                        </button>
                        <a href="{{ path('register_user') }}" class="btn btn-default btn-block">Crear cuenta nueva</a>
                    </div>

                </form>

            </div>
        </div>
    </div>
{% endblock %}