{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Torneo list</h1>

    <table class="records_list">
        <thead>
            <tr>
                <th>Id</th>
                <th>Name</th>
                <th>Maxparticipantes</th>
                <th>Tdatetime</th>
                <th>Description</th>
                <th>Status</th>
                <th>Resultimage</th>
                <th>Imagemime</th>
                <th>Uploaderid</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
        {% for entity in entities %}
            <tr>
                <td><a href="{{ path('admin_torneo_show', { 'id': entity.id }) }}">{{ entity.id }}</a></td>
                <td>{{ entity.name }}</td>
                <td>{{ entity.maxParticipantes }}</td>
                <td>{% if entity.tDatetime %}{{ entity.tDatetime|date('Y-m-d H:i:s') }}{% endif %}</td>
                <td>{{ entity.description }}</td>
                <td>{{ entity.status }}</td>
                <td>{{ entity.resultImage }}</td>
                <td>{{ entity.imageMime }}</td>
                <td>{{ entity.uploaderId }}</td>
                <td>
                <ul>
                    <li>
                        <a href="{{ path('admin_torneo_show', { 'id': entity.id }) }}">show</a>
                    </li>
                    <li>
                        <a href="{{ path('admin_torneo_edit', { 'id': entity.id }) }}">edit</a>
                    </li>
                </ul>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

        <ul>
        <li>
            <a href="{{ path('admin_torneo_new') }}">
                Create a new entry
            </a>
        </li>
    </ul>
    {% endblock %}
