{% extends '::base.html.twig' %}

{% block body -%}
    <h1>Torneo</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ entity.id }}</td>
            </tr>
            <tr>
                <th>Name</th>
                <td>{{ entity.name }}</td>
            </tr>
            <tr>
                <th>Maxparticipantes</th>
                <td>{{ entity.maxParticipantes }}</td>
            </tr>
            <tr>
                <th>Tdatetime</th>
                <td>{{ entity.tDatetime|date('Y-m-d H:i:s') }}</td>
            </tr>
            <tr>
                <th>Description</th>
                <td>{{ entity.description }}</td>
            </tr>
            <tr>
                <th>Status</th>
                <td>{{ entity.status }}</td>
            </tr>
            <tr>
                <th>Resultimage</th>
                <td>{{ entity.resultImage }}</td>
            </tr>
            <tr>
                <th>Imagemime</th>
                <td>{{ entity.imageMime }}</td>
            </tr>
            <tr>
                <th>Uploaderid</th>
                <td>{{ entity.uploaderId }}</td>
            </tr>
        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('admin_torneo') }}">
            Back to the list
        </a>
    </li>
    <li>
        <a href="{{ path('admin_torneo_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>
    <li>{{ form(delete_form) }}</li>
</ul>
{% endblock %}
