{% extends "FrontendBundle:base:frontend.html.twig" %}

{% block title %}Lista de torneos{% endblock %}

{% block body %}
    <div class="container">

        <div class="row">
            <div class="col-md-8 col-md-offset-3 tournament_box_active">
                <h3>Torneos Activos</h3>
                {% if tournaments.active %}
                <ul>
                    {% for torneo in tournaments.active %}
                    <li>
                        {{ torneo.name }}
                        <a href="{{ path('torneo_info',{ id: torneo.id }) }}" class="btn btn-default">Información torneo</a>
                        <span>Participantes {{ torneo.partCount }}/{{ torneo.maxParticipantes }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class="alert alert-danger">No hay torneos activos</div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-3 tournament_box_pendent">
                <h3>Torneos Pendientes de Aprobación:</h3>
                {% if tournaments.waiting %}
                <ul>
                    {% for torneo in tournaments.waiting %}
                    <li>
                        {{ torneo.name }}
                        <a href="{{ path('torneo_info',{ id: torneo.id }) }}" class="btn btn-default">Información torneo</a>
                        <span>Participantes {{ torneo.partCount }}/{{ torneo.maxParticipantes }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class="alert alert-danger">No hay torneos pendientes de aprobación</div>
                {% endif %}
            </div>
        </div>
        <div class="row">
            <div class="col-md-8 col-md-offset-3 tournament_box_finished">
                <h3>Torneos Finalizados:</h3>
                {% if tournaments.closed %}
                <ul>
                    {% for torneo in tournaments.closed %}
                    <li>
                        {{ torneo.name }}
                        <a href="{{ path('torneo_info',{ id: torneo.id }) }}" class="btn btn-default">Información torneo</a>
                        <span>Participantes {{ torneo.partCount }}/{{ torneo.maxParticipantes }}</span>
                    </li>
                    {% endfor %}
                </ul>
                {% else %}
                    <div class="alert alert-danger">No hay torneos finalizados</div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}