{% extends "FrontendBundle:base:frontend.html.twig" %}

{% block title %} ¡Bienvenido! {% endblock %}

{% block body %}
    <div class="jumbotron">
        <div class="container">
            <h1>¡Bienvenido!</h1>

            <p>Para empezar a competir solo tienes que pulsar en el botón de torneos de la barra de navegación
                superior. Esperamos que la experiencia de la competición virtual sea lo más placentera y adrenalinosa posible.</p>
        </div>
    </div>
{% endblock %}