body {
  margin-top: 50px;
}
div.logo {
  background: #ffffff url('../images/MGT.png') no-repeat center center;
  height: 120px;
  width: 500px;
  margin: 0 auto;
  margin-top: 15px;
  margin-bottom: 30px;
}
h1.title {
  text-align: center;
  margin-top: 20px;
}
.marco {
  border-style: solid;
  border-radius: 10px;
  border-width: 1px;
  border-color: #CCC;
  box-shadow: 10px 10px 10px #bbb;
  padding-bottom: 10px;
  padding-top: 10px;
}
.centrado {
  margin: 0 auto;
  max-width: 25%;
}
.centrado a {
  text-align: center;
  margin: 0 auto;
}
.doscinco {
  max-width: 50%;
  margin: 0 auto;
}
#contract {
  max-width: 90%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px;
  max-height: 100px;
  overflow: auto;
}
#checkContract {
  margin: 0 auto;
}
#userBox {
  margin-right: 0px;
}
.nav-logo {
  background: #ffffff url('../images/MGT-small.png') no-repeat center center;
  height: 50px;
  width: 200px;
}
.sidebar {
  position: fixed;
  top: 51px;
  bottom: 0;
  left: 0;
  z-index: 1000;
  display: block;
  padding: 20px;
  overflow-x: hidden;
  overflow-y: auto;
  background-color: #f5f5f5;
  border-right: 1px solid #eee;
}
.nav-sidebar {
  margin-right: -21px;
  /* 20px padding + 1px border */
  margin-bottom: 20px;
  margin-left: -20px;
}
.nav-sidebar > li > a {
  padding-right: 20px;
  padding-left: 20px;
}
.nav-sidebar > .active > a {
  color: #fff;
  background-color: #428bca;
}
.main {
  padding-right: 40px;
  padding-left: 40px;
}
body {
  padding-bottom: 50px;
}
div.admin_tournament_box,
div.admin_pending_box {
  margin-top: 50px;
}
div.admin_tournament_box ul,
div.admin_pending_box ul {
  list-style: none;
  padding-left: 0px;
}
div.admin_tournament_box ul li,
div.admin_pending_box ul li {
  background-color: #F5F5F5;
  margin-bottom: 20px;
  padding: 5px 10px;
}
div.admin_tournament_box ul li span,
div.admin_pending_box ul li span {
  font-size: 15px;
}
div.admin_tournament_box ul li span.status_closed,
div.admin_pending_box ul li span.status_closed {
  color: indianred;
}
div.admin_tournament_box ul li span.status_pending,
div.admin_pending_box ul li span.status_pending {
  color: orange;
}
div.admin_tournament_box ul li span.status_open,
div.admin_pending_box ul li span.status_open {
  color: limegreen;
}
div.admin_tournament_box ul li a:first-child,
div.admin_pending_box ul li a:first-child {
  font-size: 25px;
  margin-right: 30px;
}
div.admin_tournament_box ul li a:nth-child(3),
div.admin_pending_box ul li a:nth-child(3) {
  float: right;
  margin-left: 10px;
}
div.admin_tournament_box ul li a:nth-child(4),
div.admin_pending_box ul li a:nth-child(4) {
  float: right;
}
div.admin_pending_box ul li span {
  font-size: 25px;
  margin-right: 30px;
  color: #428bca;
  text-decoration: none;
}
div.admin_pending_box ul li a {
  float: right;
  margin-left: 10px;
}
div.tournament_box_active,
div.tournament_box_pendent,
div.tournament_box_finished {
  margin-top: 50px;
}
div.tournament_box_active ul,
div.tournament_box_pendent ul,
div.tournament_box_finished ul {
  list-style: none;
  padding-left: 0px;
}
div.tournament_box_active ul li,
div.tournament_box_pendent ul li,
div.tournament_box_finished ul li {
  background-color: #dff0d8;
  font-size: 25px;
  color: #428bca;
  margin-bottom: 20px;
  padding: 5px 10px;
}
div.tournament_box_active ul li a:first-child,
div.tournament_box_pendent ul li a:first-child,
div.tournament_box_finished ul li a:first-child {
  float: right;
}
div.tournament_box_active ul li span,
div.tournament_box_pendent ul li span,
div.tournament_box_finished ul li span {
  font-size: 15px;
  font-weight: bold;
  float: right;
  margin-right: 10px;
  padding: 8px;
}
div.tournament_box_pendent ul li {
  background-color: #fcf8e3;
}
div.tournament_box_finished ul li {
  background-color: #f2dede;
}
.info_torneo_name {
  text-align: center;
}
.info_torneo_participantes,
.info_torneo_info {
  max-width: 90%;
  margin: 0 auto;
  border-style: solid;
  border-width: 1px;
  border-radius: 3px;
  padding: 10px;
}
.info_torneo_info {
  max-height: 250px;
  overflow: auto;
}
.info_torneo_boton {
  margin-top: 30px;
}
.admin_validate_image extend(.info_torneo_participantes) {
  border-style: none;
}
.center {
  margin-top: 15px;
}
.center a:first-child {
  margin-left: 15px;
}
.center a:nth-child(2) {
  margin-left: 30px;
}
.center a:last-child {
  margin-right: 15px;
  float: right;
}
