{% extends "FrontendBundle:base:loginRegisterBase.html.twig" %}

{% block title %}
    Registrar nuevo usuario
{% endblock %}

{% block body %}

    <div class="container">

        <div class="row">

            <div class="col-md-6 col-md col-md-offset-3 marco" id="login">
                {{ form_start(form) }}
                    <div class="logo"></div>
                    <h1 class="title">Nuevo Usuario</h1>
                    {% if not valid %}
                    <div class="col-md-12 alert alert-danger">
                        {{ form_errors(form.name) }}
                        {{ form_errors(form.password) }}
                        {{ form_errors(form.mail) }}
                        {{ form_errors(form.psn) }}
                    </div>
                    {% endif %}
                    <div class="doscinco">
                        <div class="form-group">
                            {{ form_label(form.name) }}
                            {{ form_widget(form.name) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.password.password) }}
                        </div>

                        <div class="form-group">
                            {{ form_row(form.password.confirm) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.mail) }}
                            {{ form_widget(form.mail) }}
                        </div>

                        <div class="form-group">
                            {{ form_label(form.psn) }}
                            {{ form_widget(form.psn) }}
                        </div>
                    </div>
                    <label for="contract">Condiciones de uso:</label>
                    <div id="contract">
                        Lorem ipsum dolor sit amet, consectetur adipisicing elit. At cumque dolorem eum illo in laborum officia perspiciatis quam tempora, tempore ullam vero? Distinctio eligendi esse fuga magni quia tenetur voluptate! Accusamus commodi cupiditate, debitis, deleniti dicta doloribus eaque minus molestias odit pariatur placeat quas quisquam saepe sit ullam velit voluptatibus, voluptatum. A ab, accusamus cupiditate dignissimos doloremque dolores ea eos, eveniet illum libero nemo odit possimus quasi reiciendis sapiente sint voluptatibus! Accusamus assumenda beatae culpa laboriosam maxime minima nisi officia perspiciatis vero voluptatem. Ab ad dignissimos eos eveniet modi nemo.
                    </div>

                    <div class="checkbox">
                        <label>
                            <input type="checkbox" name="checkContract" id="checkContract"> Acepto las condiciones de
                            uso de la web
                        </label>
                    </div>
                    <div class="row">
                        <div class="col-md-3 col-md-push-3">
                            <a href="" class="btn  btn-danger">Cancelar</a>
                        </div>
                        <div class="col-md-2 col-md-push-4">
                            {{ form_widget(form.submit) }}
                        </div>


                    </div>
                {{ form_widget(form._token) }}
                {{ form_end(form, {'render_rest': false}) }}

            </div>
        </div>
    </div>
{% endblock %}