{% extends "FrontendBundle:base:frontend.html.twig" %}

{% block title %}
    Información {{ torneo.name }}
{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-8 col-md-offset-2">
                <div class="info_torneo_name">
                    <h1>Torneo:</h1>
                </div>
                <div>
                    <h3>Información de torneo:</h3>
                    <div class="info_torneo_info">
                        {{ torneo.description|raw }}
                    </div>
                    <h4>Fecha Torneo: </h4> {{ torneo.tDatetime|date('d/m/Y H:m') }}
                </div>
                <div>
                    <h3>Participantes:</h3>
                    {% if torneo.inscritos.count>0 %}
                      <div class="info_torneo_participantes">
                          <ul>
                          {% for participante in torneo.inscritos %}
                              <li>{{ participante.name }} ({{ participante.psn }})</li>
                          {% endfor %}
                          </ul>
                      </div>
                    {% else %}
                        <div class="alert alert-danger">No hay ningun usuario inscrito</div>
                    {% endif %}
                </div>

                {% if torneo.status==1 %}
                    {% if not expired and torneo.inscritos.count<torneo.maxParticipantes %}

                        <a href="{{ path('torneo_inscribe',{id:torneo.id}) }}" class="btn btn-primary btn-block info_torneo_boton" id="inscribe_btn">
                        {% if not inscribed %}
                            Inscribirse
                        {% else %}
                            Desinscribirse
                        {% endif %}
                        </a>
                    {% elseif expired %}
                        <div class="btn btn-danger btn-block disabled info_torneo_boton">No se puede inscribir</div>
                        {{ form(photoForm) }}
                    {% else %}
                        {# Mostrar formulario de subida de imagen #}

                    {% endif %}
                {% elseif torneo.status==2 %}
                    <div class="btn btn-warning btn-block disabled info_torneo_boton">Esperando aprobación del administrador.</div>
                {% elseif torneo.status==3 %}
                    <div>
                        <h3>Imagen de resultado:</h3>
                        <div class="admin_validate_image">
                            <img src="{{ torneo.resultImage }}" alt="" style="max-width: 100%"/>
                        </div>
                    </div>

                    <div>
                        <h3>Resultado final:</h3>
                        <div class="info_torneo_info">
                            <ol>
                                {% for driver in results %}
                                    <li>{{ driver }}</li>
                                {% endfor %}
                            </ol>
                        </div>
                    </div>
                {% endif %}
            </div>
        </div>
    </div>
{% endblock %}

{%  block scripts %}
    {{  parent() }}
    <script>

    </script>
{% endblock %}